@font-face {
  font-family: "AmsterdamOne-eZ12l";
  src: url("../fonts/AmsterdamOne-eZ12l.ttf") format("truetype");
}
@font-face {
  font-family: "A-OTF-GothicMB101Pro-DeBold";
  src: url("../fonts/A-OTF-GothicMB101Pro-DeBold.otf") format("opentype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "A-OTF-GothicMB101Pro-DeBold", "Inter", "AmsterdamOne-eZ12l", sans-serif;
  color: #000;
}

img {
  height: auto;
}

.header {
  position: relative;
}

.header-center-text {
  text-align: center;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 4.2px;
  padding-top: 81px;
  margin-bottom: 150px;
  line-height: normal;
}

.header-title-box {
  margin-top: 90px;
}

.header-title {
  display: block;
  margin: 0 auto 20px;
}

.header-title-sub {
  color: #3e3a39;
  text-align: center;
  font-family: "AmsterdamOne-eZ12l";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header-nav-area {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
}

.header-nav {
  position: absolute;
  top: 57px;
  right: 50px;
}

.header-nav-box {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}

.header-list {
  text-align: right;
}
.header-list a {
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 4.2px;
  line-height: normal;
}

.logo {
  display: block;
  position: absolute;
  top: 177px;
  right: 52.24px;
}

.shop-link {
  display: block;
  width: fit-content;
  margin: -20px 30px 0 auto;
}
.shop-link img {
  display: block;
}

/* fv
   ----------------------------------------------------------------- */
.fv {
  position: relative;
  margin-bottom: 385px;
  padding-top: 80px;
}

.fv-inner {
  margin-right: 165px;
}

.fv-contents {
  position: relative;
}

.fv-img-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  top: -406px;
  left: 0;
  width: 100%;
  z-index: 9;
}

.fv-img-left {
  width: 25%;
  max-width: 318px;
}

.fv-img-right {
  width: 17.6%;
  max-width: 223px;
  display: block;
  margin-top: 158px;
}

fv-slide-img-box {
  position: relative;
}

.fv-slide-img {
  width: 100%;
}

.fv-slide-img-front {
  padding-left: 70px;
}

.fv-slide-img-out {
  width: 95%;
  position: absolute;
  top: 70px;
  left: 0;
  z-index: -1;
}

.fv-title-area {
  position: absolute;
  bottom: 212px;
  right: 0;
  z-index: 2;
}

.fv-title-sub {
  color: #fff;
  font-family: "AmsterdamOne-eZ12l";
  font-size: 37.095px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3.709px;
  width: fit-content;
  position: relative;
  top: 16px;
  right: -146px;
  transform: rotate(-11.048deg);
}

.fv-title span {
  width: fit-content;
  display: block;
  color: #3e3a39;
  text-align: right;
  font-family: "A-OTF-GothicMB101Pro-DeBold";
  font-size: 53.568px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 5.357px;
  background-color: #fff;
  margin: 0 0 20px auto;
  padding: 8px 24px;
}

.fv-text {
  color: #fff;
  text-align: right;
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4.2px;
  margin-top: 28px;
}

.fv .swiper-pagination {
  position: absolute;
  left: initial;
  right: -46px;
  bottom: 40px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.fv .swiper-pagination span {
  display: block;
  width: 17px;
  height: 17px;
  background-color: #d9d9d9;
}
.fv .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #3e3a39;
}

.scroll-assist {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  position: absolute;
  right: 26px;
  top: 371px;
}
.scroll-assist p {
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4.2px;
  -webkit-text-orientation: sideways;
  text-orientation: sideways;
}

.scroll-assist-border {
  position: relative;
  top: 66px;
  left: 7.5px;
}
.scroll-assist-border::before {
  content: "";
  display: block;
  width: 1px;
  bottom: 84px;
  background-color: #000;
  animation: elasticus 1.6s cubic-bezier(1, 0, 0, 1) infinite;
}

@keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  50% {
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50.1% {
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}
/*# sourceMappingURL=style.css.map */