@use "../foundation/base" as *;

.header {
  position: relative;
}
.header-center-text {
  text-align: center;
  font-family: $family-inter;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 4.2px;
  padding-top: 81px;
  margin-bottom: 150px;
  line-height: normal;
}
.header-title-box {
  margin-top: 90px;
}
.header-title {
  display: block;
  margin: 0 auto 20px;
}
.header-title-sub {
  color: $color-text;
  text-align: center;
  font-family: $family-amsterdam;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header-nav-area {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
}
.header-nav {
  position: absolute;
  top: 57px;
  right: 50px;
}
.header-nav-box {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}
.header-list {
  text-align: right;
  a {
    font-family: $family-inter;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 4.2px;
    line-height: normal;
  }
}
.logo {
  display: block;
  position: absolute;
  top: 177px;
  right: 52.24px;
}
.shop-link {
  display: block;
  width: fit-content;
  position: absolute;
  top: 370px;
  right: 30px;
  img {
    display: block;
  }
}
.nav-bg {
  width: 1255px;
  height: 554px;
  overflow: visible;
  position: absolute;
  left: -849px;
  top: -439px;
  -webkit-transform: rotate(-133deg);
  -ms-transform: rotate(-133deg);
  transform: rotate(-133deg);
  display: flex;
}
.nav-bg-line {
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  display: flex;
  height: 100%;
}
.nav-bg-line-1 {
  animation-name: looping1;
  will-change: transform;
  animation-delay: calc(-1 * (0.5 * 68s));
  animation-duration: 68s;
}
.nav-bg-line-2 {
  animation-name: looping2;
  will-change: transform;
  animation-duration: 68s;
}
.loop_shape {
  max-width: initial;
  border: none;
  vertical-align: top;
  display: block;
  height: 100%;
  transform: scale(1.005);
}

@keyframes looping1 {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@keyframes looping2 {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
  }
}
