@use "../../foundation/base" as *;

/* fv
   ----------------------------------------------------------------- */
.fv {
  position: sticky;
  top: -1000px;
  margin-bottom: 455px;
  padding-top: 80px;
}
.fv-inner {
  margin-right: 165px;
}
.fv-contents {
  position: relative;
}
.fv-img-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  top: -406px;
  left: 0;
  width: 100%;
  z-index: 9;
}
.fv-img-left {
  width: 25%;
  max-width: 318px;
  transform: translateX(-200%);
}
.fv-img-right {
  width: 17.6%;
  max-width: 223px;
  display: block;
  margin-top: 158px;
}
fv-slide-img-box {
  position: relative;
}
.fv-slide-img {
  width: 100%;
}
.fv-slide-img-front {
  padding-left: 70px;
}
.fv-slide-img-out {
  width: 95%;
  position: absolute;
  top: 70px;
  left: 0;
  z-index: -1;
}
.fv-title-area {
  position: absolute;
  bottom: 212px;
  right: 0;
  z-index: 2;
}
.fv-title-sub {
  color: #fff;
  font-family: $family-amsterdam;
  font-size: 37.095px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3.709px;
  width: fit-content;
  position: relative;
  top: 16px;
  right: -146px;
  transform: rotate(-11.048deg);
}
.fv-title {
  span {
    width: fit-content;
    display: block;
    color: $color-text;
    text-align: right;
    font-family: $family-gothicMB-de-bold;
    font-size: 53.568px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 5.357px;
    background-color: #fff;
    margin: 0 0 20px auto;
    padding: 8px 24px;
  }
}
.fv-text {
  color: #fff;
  text-align: right;
  font-family: $family-inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4.2px;
  margin-top: 28px;
}
.fv {
  .swiper-pagination {
    position: absolute;
    left: initial;
    right: -46px;
    bottom: 40px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    span {
      display: block;
      width: 17px;
      height: 17px;
      background-color: #d9d9d9;
    }
    .swiper-pagination-bullet-active {
      background-color: $color-text;
    }
  }
}
.scroll-assist {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  position: absolute;
  right: 26px;
  top: 371px;
  p {
    font-family: $family-inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4.2px;
    -webkit-text-orientation: sideways;
    text-orientation: sideways;
  }
}
.scroll-assist-border {
  position: relative;
  top: 66px;
  left: 7.5px;
  &::before {
    content: "";
    display: block;
    width: 1px;
    bottom: 84px;
    background-color: #000;
    animation: elasticus 1.6s cubic-bezier(1, 0, 0, 1) infinite;
  }
}
@keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  50% {
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50.1% {
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}

/* section about
   ----------------------------------------------------------------- */
.about {
  position: sticky;
  top: 0;
  z-index: 1;
}
.about-inner {
  overflow: hidden;
  position: sticky;
  top: -324px;
  z-index: 2;
}
.pink-mountain-img {
  width: 100%;
}
.about-contents-bg {
  background-color: $color-pink;
  padding-bottom: 107px;
  position: relative;
  top: -1px;
}
.about-title-area {
  width: fit-content;
  margin: 0 auto 36px;
}
.about-title-sub {
  color: #fff;
  font-family: $family-amsterdam;
  font-size: 26.435px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.643px;
  transform: rotate(-11.048deg);
  width: fit-content;
}
.about-title-box {
  position: relative;
  margin-bottom: 45px;
}
.about-title {
  color: #fff;
  text-align: center;
  font-family: $family-gothicMB-de-bold;
  font-size: 53.568px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: 5.357px;
}
.about-ha {
  position: absolute;
  width: 84px;
}
.about-ha-01 {
  right: -52px;
  top: 0;
}
.about-ha-02 {
  right: -118px;
  bottom: -8px;
}
.about-text {
  color: #fff;
  text-align: center;
  font-family: $family-inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4.2px;
}
.about-bottom-img {
  width: fit-content;
  margin-left: 70px;
  display: flex;
  column-gap: 11px;
  img {
    display: block;
  }
}
.about-01 {
  padding-top: 360px;
  padding-bottom: 270px;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 2;
}
.about-01-contents {
  display: flex;
  justify-content: center;
  column-gap: 7%;
  padding: 0 129px 228px 96px;
}
.about-01-img-box {
  h3 {
    color: $color-text;
    text-align: center;
    font-family: $family-AcademyACTTRegular;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 7px;
    text-align: left;
    margin-top: 11px;
  }
  p {
    color: $color-text;
    text-align: center;
    font-family: $family-AcademyACTTRegular;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
    text-align: left;
  }
}
.about-01-text-box {
  max-width: 356px;
}
.about-01-num-box {
  margin-bottom: 62px;
}
.section-sub-title {
  color: $color-text;
  text-align: center;
  font-family: $family-inter;
  font-size: 11.9px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3.57px;
}
.about-01-num {
  color: $color-text;
  text-align: center;
  font-family: $family-AcademyACTTRegular;
  font-size: 153px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  width: fit-content;
  margin: 0 auto;
  display: block;
  border-bottom: 3px solid $color-text;
}
.section-tile {
  color: $color-text;
  text-align: center;
  font-family: $family-gothicMB-de-bold;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 3.2px;
  margin-top: 44px;
}
.about-01-text {
  color: $color-text;
  font-family: $family-gothicMB-de-Light;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.4px;
}
.about-01-link {
  width: 314px;
  height: 48px;
  background-color: $color-pink;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 70px auto 0;
  a {
    display: block;
    color: $color-text;
    text-align: center;
    font-family: $family-inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4.2px;
  }
}
.about-slide-img-loop {
  display: flex;
  width: 100%;
  column-gap: 50px;
  overflow: hidden;
}
.about-slide-img-box {
  display: flex;
  width: 100%;
  column-gap: 50px;
  animation: loop 50s infinite linear 0.5s both;
  position: relative;
  img {
    display: block;
    width: calc(100vw / 6);
  }
}
@keyframes loop {
  0% {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
.svg-animation {
  overflow: hidden;
  margin-top: 80px;
}
.bg-label {
  position: relative;
  left: 0;
  bottom: 0;
  fill: #fff;
  stroke: #fff;
  stroke-width: 2px;
  opacity: 0.5;
  height: 178px;
  overflow: hidden;
  white-space: pre;
  width: 100%;
  font-size: 0px;
  display: flex;
  svg {
    height: 100%;
    display: inline-block;
    vertical-align: top;
    transition: none;
    overflow: hidden;
    margin-left: 40px;
    animation: loopSvg 50s linear infinite;
    flex-shrink: 0;
    .path {
      stroke-miterlimit: 10;
      stroke: #fff;
    }
  }
}
@keyframes fill-animation {
  0% {
    fill: transparent;
  }
  50% {
    fill: transparent;
  }
  100% {
    fill: #fbc6d0;
  }
}
@for $i from 1 through 39 {
  .path-#{$i} {
    animation-name: fill-animation;
    animation-delay: #{($i - 1) * 3}s;
    animation-duration: 2s;
    animation-fill-mode: both;
  }
}
@keyframes loopSvg {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.toreate-02 {
  background-color: #fff;
  padding-top: 270px;
  position: sticky;
  top: -1px;
  z-index: 3;
  .section-tile {
    margin-top: 44px;
    margin-bottom: 37px;
  }
}

/* section toretate-02
   ----------------------------------------------------------------- */
.toreate-02-contents {
  position: sticky;
  top: 0px;
  z-index: 4;
}
.toreate-02-contents-inner {
  overflow: hidden;
  padding-top: 40px;
}
.toretate-02-bg {
  position: relative;
}
.green-mountain-img {
  width: 100%;
  max-height: 109px;
}
.clover-img {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
}
.swiper-vegetable {
  background-color: $color-green;
  position: relative;
  top: -1px;
  padding: 68px 0 74px;
  .swiper-button-next,
  .swiper-button-prev {
    display: flex;
    column-gap: 6px;
    &::after {
      display: none;
    }
    img {
      display: block;
    }
    .icon-prev-next {
      opacity: 0;
      animation: fadeInArrow 3s infinite linear;
      &:nth-child(1) {
        animation-delay: 0s;
      }
      &:nth-child(2) {
        animation-delay: 1s;
      }
      &:nth-child(3) {
        animation-delay: 2s;
      }
    }
  }
  .swiper-button-next {
    right: 64px;
  }
  .swiper-button-prev {
    left: 64px;
    flex-direction: row-reverse;
  }
}
@keyframes fadeInArrow {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.vegetable-slide-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 66px;
}
.vegetable-img-contents {
  position: relative;
}
.vegetable-theme {
  color: #fff;
  text-align: center;
  font-family: $family-AcademyACTTRegular;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: -35px;
  position: relative;
}
.vegetable-slide-img {
  display: block;
  margin: 0 auto;
}
.vegetable-slide-illust {
  position: absolute;
  left: -107px;
  bottom: 40px;
}
.vegetable-slide-img-box-1 {
  .vegetable-slide-illust {
    width: 184px;
  }
}
.vegetable-slide-img-box-2 {
  .vegetable-slide-illust {
    width: 184px;
  }
}
.vegetable-slide-img-box-3 {
  .vegetable-slide-illust {
    width: 132px;
    left: -93px;
    bottom: 69px;
  }
}
.vegetable-slide-img-box-4 {
  .vegetable-slide-illust {
    width: 127px;
    left: -140px;
    bottom: 73px;
  }
}
.vegetable-slide-img-box-5 {
  .vegetable-slide-illust {
    width: 160.771px;
    left: -176px;
    bottom: 81px;
  }
}
.vegetable-slide-img-box-6 {
  .vegetable-slide-illust {
    width: 135px;
    left: -92px;
    bottom: 60px;
  }
}
.vegetable-slide-num {
  color: #fff;
  text-align: center;
  font-family: $family-AcademyACTTRegular;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  span {
    color: #fff;
    text-align: center;
    font-family: $family-AcademyACTTRegular;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    vertical-align: super;
    padding-right: 4px;
  }
}
.vegetable-slide-text-box {
  width: 306px;
}
.vegetable-slide-sub {
  color: #fff;
  text-align: center;
  font-family: $family-gothicMB-de-bold;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.6px;
}
.vegetable-name {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  span {
    color: #fff;
    text-align: center;
    font-family: $family-gothicMB-de-bold;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 3.2px;
    display: block;
    border: 1px solid #fff;
    width: fit-content;
    margin: 0 auto;
    padding: 0 10px;
  }
}
.vegetable-description {
  color: #fff;
  font-family: $family-gothicMB-de-Light;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.4px;
  margin-top: 40px;
}

/* section toretate-03
   ----------------------------------------------------------------- */
.bg-white {
  height: 270px;
  background-color: #fff;
}
.toreate-03 {
  padding-top: 270px;
  padding-bottom: 48px;
  background-color: #fff;
  position: sticky;
  top: 0;
}
.toreate-03-contents {
  background-color: #fff;
  .green-mountain-img {
    max-height: 158px;
  }
  .toreate-02-contents-inner {
    overflow: initial;
    padding-top: 0;
  }
  .swiper-vegetable {
    overflow: hidden;
    background-color: $color-orange;
  }
  .vegetable-slide-img-box-1 .vegetable-slide-illust {
    width: 170.758px;
    left: -146px;
    bottom: 75px;
  }
  .vegetable-slide-img-box-2 .vegetable-slide-illust {
    width: 147.195px;
    left: -120px;
    bottom: 40px;
  }
  .vegetable-slide-img-box-3 .vegetable-slide-illust {
    width: 132px;
    left: -147px;
    bottom: 45px;
  }
  .vegetable-slide-text-box {
    width: 348px;
  }
}
.orenge-wood-left,
.orenge-wood-right {
  position: absolute;
  z-index: -1;
}
.orenge-wood-left {
  top: -67px;
  left: 173px;
}
.orenge-wood-right {
  top: -28px;
  right: 53px;
}
.toretate-slide-box {
  overflow: hidden;
}

/* section toretate-04
   ----------------------------------------------------------------- */
.toreate-04-contents {
  .toreate-02-contents-inner {
    overflow: initial;
    padding-top: 11px;
  }
  .swiper-vegetable {
    overflow: hidden;
    background-color: $color-sky;
  }
  .vegetable-theme,
  .vegetable-slide-sub,
  .vegetable-name span,
  .vegetable-description,
  .vegetable-slide-num,
  .vegetable-slide-num span {
    color: $color-text;
  }
  .vegetable-name span {
    border-color: $color-text;
  }
  .vegetable-slide-img-box-1 .vegetable-slide-illust {
    width: 147.195px;
    left: -122px;
  }
}
.sky-img {
  position: absolute;
  right: 261px;
  top: -116px;
}

/* section topics
   ----------------------------------------------------------------- */
.topics {
  position: relative;
  top: -1px;
  padding-bottom: 440px;
  background-color: #fff;
  .toreate-03 {
    position: relative;
    padding-bottom: 158px;
  }
  .about-01-num {
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
.note-contents {
  background-color: #fff;
  overflow: hidden;
  margin-left: 120px;
  padding-bottom: 100px;
  position: relative;
}
.note-slide {
  border: 1px solid $color-text;
  padding: 42px 45px 0;
  position: relative;
  overflow: hidden;
  &:hover {
    .note-hover-text {
      opacity: 1;
    }
    .note-hover-area {
      bottom: 0;
    }
  }
}
.note-img {
  width: 100%;
  height: 14.7vw;
  object-fit: cover;
}
.note-date {
  color: $color-text;
  text-align: center;
  font-family: $family-AcademyACTTRegular;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 15px auto;
}
.note-title {
  color: $color-text;
  text-align: center;
  font-family: $family-gothicMB-de-bold;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2px;
}
.note-excerpt {
  color: $color-text;
  font-family: A-OTF Gothic MB101 Pro;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.4px;
  margin: 22px 0 0;
  min-height: 84px;
}
.note-hover {
  margin-top: 42px;
}
.note-hover-text {
  color: $color-green;
  text-align: center;
  font-family: $family-AcademyACTTRegular;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  opacity: 0;
  transition: opacity 0.4s ease;
}
.note-hover-area {
  height: 51px;
  background-color: $color-green;
  position: relative;
  bottom: -31px;
  transition: bottom 0.4s ease;
}
.topics {
  .swiper-button-next,
  .swiper-button-prev {
    display: flex;
    column-gap: 6px;
    &::after {
      display: none;
    }
    img {
      display: block;
    }
    .icon-prev-next {
      opacity: 0;
      animation: fadeInArrow 3s infinite linear;
      &:nth-child(1) {
        animation-delay: 0s;
      }
      &:nth-child(2) {
        animation-delay: 1s;
      }
      &:nth-child(3) {
        animation-delay: 2s;
      }
    }
  }
  .swiper-button-next {
    right: 28px;
    top: initial;
    left: initial;
    bottom: 0;
  }
  .swiper-button-prev {
    right: 175px;
    top: initial;
    left: initial;
    bottom: 0;
    flex-direction: row-reverse;
  }
}

@include media(min1980) {
  .fv {
    top: -1600px;
  }
  .fv-slide-img {
    max-height: 2400px;
    object-fit: cover;
    border-top-right-radius: 140px;
  }
  .pink-mountain-img {
    max-height: 600px;
  }
  .orenge-wood-left {
    top: -50px;
  }
}

@include media(bp1200) {
  .about-01-img-box {
    img {
      width: 100%;
    }
  }
  .orenge-wood-left {
    top: -112px;
  }
  .orenge-wood-right {
    top: -67px;
  }
  .sky-img {
    right: 182px;
  }
}

@include media(bp1025) {
  .fv-title-area {
    bottom: 60px;
  }
  .fv-img-right {
    margin-top: 232px;
  }
  .about-slide-img-loop {
    column-gap: 25px;
  }
  .about-slide-img-box {
    column-gap: 25px;
    width: auto;
    img {
      display: block;
      width: calc(100vw / 4);
    }
  }
  .about-01-contents {
    padding-left: 30px;
    padding-right: 40px;
  }
  .vegetable-slide-img-box {
    display: block;
  }
  .vegetable-img-contents {
    width: fit-content;
    margin: 0 auto;
  }
  .vegetable-slide-text-box {
    margin: 28px auto 0;
  }
  .orenge-wood-left {
    top: -115px;
    left: 100px;
  }
  .orenge-wood-right {
    top: -86px;
    right: 20px;
  }
  .sky-img {
    right: 31px;
  }
}

@include media(bp800) {
  /* section sp fv
   ----------------------------------------------------------------- */
  .fv {
    padding-top: 55px;
    margin-bottom: 200px;
    top: -320px;
    .swiper-pagination {
      display: none;
    }
  }
  .fv-inner {
    margin-right: 43px;
  }
  .fv-img-box {
    top: -98px;
  }
  .fv-img-left {
    width: 98.126px;
    position: relative;
    top: -16px;
  }
  .fv-img-right {
    width: 58.712px;
    margin-top: 26px;
  }
  .fv-title-area {
    bottom: 47px;
  }
  .fv-title-sub {
    font-size: 14.609px;
    letter-spacing: 1.461px;
    top: 5px;
    right: -75px;
  }
  .fv-title {
    span {
      font-size: 21.097px;
      letter-spacing: 2.11px;
      margin-bottom: 7.7px;
    }
  }
  .fv-text {
    font-size: 5.514px;
    letter-spacing: 2px;
    padding-right: 15px;
  }
  .fv-slide-img-front {
    padding-left: 31px;
    height: 555px;
    object-fit: cover;
    border-top-right-radius: 40px;
  }
  .fv-slide-img-out {
    width: 92%;
    top: 31px;
    height: 555px;
    object-fit: cover;
  }
  .scroll-assist {
    right: 11px;
    top: initial;
    bottom: 20px;
    p {
      font-size: 8.82px;
      letter-spacing: 2.646px;
    }
  }
  .scroll-assist-border {
    height: 60px;
    left: 5.5px;
    &::before {
      position: relative;
      bottom: 16px;
    }
  }
  /* section sp about
   ----------------------------------------------------------------- */
  .about-contents-bg {
    padding-bottom: 65px;
  }
  .about-title-area {
    margin-bottom: 66px;
  }
  .about-title-sub {
    font-size: 11.103px;
    letter-spacing: 1.11px;
  }
  .about-title-box {
    margin-bottom: 18px;
  }
  .about-title {
    font-size: 22.499px;
    letter-spacing: 2.25px;
  }
  .about-ha-01 {
    width: 27.516px;
    right: -7px;
  }
  .about-ha-02 {
    width: 27.516px;
    right: -27px;
    bottom: 0px;
  }
  .about-text {
    font-size: 5.88px;
    letter-spacing: 1.764px;
  }
  .about-01 {
    padding-top: 100px;
    padding-bottom: 58.5px;
  }
  .about-bottom-img {
    margin: 0 auto;
    img {
      width: 53.854px;
    }
  }
  .about-01-contents {
    flex-direction: column;
    column-gap: 0;
    row-gap: 110px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 100px;
  }
  .about-01-img-box {
    padding-left: 48px;
    padding-right: 31px;
    h3 {
      font-size: 44.1px;
      letter-spacing: 4.41px;
    }
    p {
      font-size: 12.6px;
      letter-spacing: 1.26px;
    }
  }
  .about-01-text-box {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding-left: 48px;
    padding-right: 48px;
  }
  .section-sub-title {
    font-size: 7.497px;
    letter-spacing: 2.249px;
  }
  .about-01-link {
    margin-top: 40px;
    width: 100%;
    a {
      font-size: 13.23px;
      letter-spacing: 3.969px;
    }
  }
  .about-01-num-box {
    margin-bottom: 32px;
  }
  .about-01-num {
    font-size: 96.39px;
  }
  .section-tile {
    font-size: 20px;
    margin-top: 28px;
    letter-spacing: 2px;
  }
  .about-01-text {
    font-size: 11px;
    letter-spacing: 1.1px;
  }
  .about-slide-img-box {
    img {
      width: calc(100vw / 3);
    }
  }
  .svg-animation {
    margin-top: 24px;
  }
  .bg-label {
    height: 48px;
    svg {
      animation: loopSvg 30s linear infinite;
    }
  }
  /* section sp toretate2
   ----------------------------------------------------------------- */
  .toreate-02 {
    padding-top: 58.5px;
    .section-tile {
      margin-top: 28px;
      margin-bottom: 0;
    }
  }
  .toreate-02-contents-inner {
    padding-top: 43px;
  }
  .clover-img {
    width: 42px;
    top: -21px;
  }
  .swiper-vegetable {
    padding: 60px 0 36px;
  }
  .vegetable-img-contents {
    max-width: 200px;
  }
  .vegetable-theme {
    font-size: 28.35px;
    margin-bottom: -18px;
  }
  .vegetable-slide-img {
    width: 81%;
  }
  .vegetable-slide-num {
    margin-top: 10px;
    font-size: 25.2px;
    span {
      font-size: 12.6px;
    }
  }
  .vegetable-slide-sub {
    font-size: 11px;
    letter-spacing: 1.1px;
  }
  .vegetable-name {
    row-gap: 5px;
    span {
      font-size: 20.16px;
      letter-spacing: 2.016px;
      padding: 0 7px;
    }
  }
  .vegetable-description {
    margin-top: 26px;
    font-size: 11px;
    letter-spacing: 1.1px;
  }
  .vegetable-slide-img-box-1 {
    .vegetable-slide-illust {
      width: 68px;
    }
  }
  .vegetable-slide-img-box-2 .vegetable-slide-illust {
    width: 68px;
  }
  .vegetable-slide-img-box-3 .vegetable-slide-illust {
    width: 44.499px;
    left: -24px;
  }
  .vegetable-slide-img-box-4 .vegetable-slide-illust {
    width: 45.34px;
    left: -31px;
    bottom: 48px;
  }
  .vegetable-slide-img-box-5 .vegetable-slide-illust {
    width: 56px;
    left: -42px;
    bottom: 64px;
  }
  .vegetable-slide-img-box-6 .vegetable-slide-illust {
    width: 67.058px;
    left: -31px;
    bottom: 64px;
  }
  .vegetable-slide-illust {
    left: -15px;
    bottom: 60px;
  }
  .swiper-vegetable .swiper-button-prev {
    left: 21px;
  }
  .swiper-vegetable .swiper-button-next {
    right: 21px;
  }
  .icon-prev-next {
    width: 7.6px;
  }
  /* section sp toretate3
   ----------------------------------------------------------------- */
  .bg-white {
    height: 100px;
  }
  .toreate-03 {
    padding-top: 100px;
  }
  .orenge-wood-left {
    width: 65.733px;
    top: -48px;
    left: 45px;
  }
  .orenge-wood-right {
    top: -37px;
    width: 67.186px;
  }
  .toreate-03-contents {
    .vegetable-slide-img-box-1 .vegetable-slide-illust {
      width: 61.773px;
      left: -33px;
      bottom: 70px;
    }
    .vegetable-slide-img-box-2 .vegetable-slide-illust {
      width: 80.041px;
      left: -45px;
      bottom: 62px;
    }
    .vegetable-slide-img-box-3 .vegetable-slide-illust {
      width: 56.859px;
      left: -38px;
      bottom: 62px;
    }
  }
  /* section sp toretate4
   ----------------------------------------------------------------- */
  .sky-img {
    width: 70.98px;
    top: -48px;
  }
  .toreate-04-contents {
    .vegetable-slide-img-box-1 .vegetable-slide-illust {
      width: 61.822px;
      left: -22px;
    }
  }
  /* section sp topic
   ----------------------------------------------------------------- */
  .topics {
    padding-bottom: 200px;
    .toreate-03 {
      padding-top: 200px;
      padding-bottom: 71px;
    }
    .about-01-num {
      font-size: 70px;
    }
    .swiper-button-prev {
      right: initial;
      left: 40%;
      transform: translateX(-50%);
    }
    .swiper-button-next {
      left: initial;
      right: 30%;
      transform: translateX(-50%);
    }
  }
  .note-contents {
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 82px;
  }
  .note-slide {
    padding: 30px 30px 0;
    &:hover {
      .note-hover-text {
        opacity: 0;
      }
      .note-hover-area {
        bottom: 0;
      }
    }
  }
  .note-img {
    height: 38.4vw;
  }
  .note-date {
    margin: 10px auto;
    font-size: 27.755px;
  }
  .note-title {
    font-size: 13.878px;
    letter-spacing: 1.388px;
  }
  .note-excerpt {
    font-size: 9.714px;
    letter-spacing: 0.971px;
    margin: 16px auto 0;
    min-height: 60px;
  }
  .note-hover {
    margin-top: 63px;
  }
  .note-hover-text {
    display: none;
  }
  .note-hover-area {
    bottom: 0;
    height: 14px;
  }
}
